.reactive-base {
  width: 100%;
  /*background: #fafafa;*/
}

.reactive-base .logout-button, .contact-button {
  position: fixed;
  bottom: 0px;
  padding: 5px;
  font-size: 12px;
  margin: 10px;
  font-weight: 200;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  background: #6441A5;
  color: white;
}

.reactive-base .logout-button {
  left: 0px;
}

.reactive-base .contact-button {
  left: 50px;
}

.logout-button:hover, .contact-button:hover {
  background: #8B008B;
}

