.SourceListBlock {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background: #6441A5;
  border-radius: 3px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.SourceListBlock.isHeap {
  background: rgba(0,0,0,0.6);
}

.SourceListBlock a {
  position: relative;
  color: white;
  font-weight: 200;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SourceListBlock .list-name {
  position: absolute;
  text-align: center;
  width: calc(100% - 24px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.SourceListBlock.highlight {
  background: thistle;
}
