.SourceList {
  padding: 0px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 85vh;
}

.sourceItem {
  width: 100%;
  height: 25px;
  min-height: 25px;
  overflow-y: auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  border: 1px solid #f0f0f0;
  font-weight: 400;
  font-style: normal;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  letter-spacing: 0;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  color: rgba(0,0,0,.6);
  background: rgba(255,255,255,.97);
  cursor: pointer;
}

.sourceItem:hover {
    color: rgba(0,0,0,.8);
    border-color: rgba(0,0,0,.15);
    background: #fff;
}

.sourceImgWrapper {
  position: absolute;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sourceImg {
  width: 25px;
}

.sourceTxtWrapper {
  /*this margin left accounts for the size of the image (25px) so there is */
  /*no unwanted overlap as well as the 10px padding around the whole item */
  /* so there is equal space from edge to image and image to text */
  margin-left: calc(25px + 10px);
  width: 80%;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.no-sources {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  letter-spacing: 0;
  text-decoration: none;
  margin-top: 5px;
}
