{% extends 'base.html' %}
{% block content %}
    <div class='page-wrapper'>
        <div class='login-wrapper'>
            <h1 class='welcome-source'>Welcome to Purplist</h1>
            {% if current_user.is_authenticated %}
                <h2 class='greeting-user'>Hi, {{ current_user.name }}</h2>
                <a class='login-button' href="/{{ current_user.username }}">
                    Go to your heap.
                </a>
                <a class='login-button' href="{{ url_for('logout') }}">
                    Click here to logout.
                </a>
            {% else %}
                <a class='login-button' href="{{ url_for('authorize', provider='google') }}">
                    Login with Google
                </a>
                <a class='login-button' href="{{ url_for('authorize', provider='facebook') }}">
                    Login with Facebook
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}
